.add-nota{
    padding: 15px;
    font-family: 'Rubik', sans-serif;

    grid-column: 1/-1;

    &__title{
        font-weight: 700;
        width: 100%;
        max-width: 800px;
        margin: 0 auto 20px auto;
        display: flex;
        gap: 10px;

        input{
            display: block;
            width: 100%;
            font-size: 45px;
            border: none;
            background-color: transparent;
            font-family: 'Rubik', sans-serif;

            &:focus{
                outline: none;
            }
        }
    }

    &__footer{
        display: flex;
        height: 35px;
        justify-content: flex-start;
        gap: 10px;

        img{
            height: 35px;
            &:hover{
                filter: saturate(0);
                cursor: pointer;
            }
        }
    }

    textarea{
        width: 100%;
        max-width: 800px;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        border: none;
        resize: none;
        display: block;
        font-family: 'Rubik', sans-serif;
        background-color: transparent;
        &:focus{
            outline: none;
        }
    }

    button{
        border: none;
        background-color: transparent;
    }
}